/* https://css-tricks.com/designing-a-product-page-layout-with-flexbox/ 

https://dev.to/bigsondev/10-projects-to-master-frontend-web-development-acm
*/

/* writting-mode: :vertical */
/* gap: 24px or row-gap or column-gap 

transform: scale(-1)

scroll-behaviour: smooth

scroll-snap-align: x mandatory

scroll-snap-type: x mandatory

overflow: auto
resize: both or vertical horizontal


p{
    max-width: 20 rem
    display: -webkit-box
    -webkit-line-clamo:1
    -webkit-box-orient: verticaloverflow: hidden
}

    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: rgb(215, 213, 213);
}
body{
    width: 90%;
    margin: 0px auto;
}
.product-filter{
    display: flex;
    margin-top: 3%;

}

.product-filter h1{
    flex-grow: 3;
    
}

.sort{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.collection-sort:first-child{
    margin-right: 5%;
}

.collection-sort label{
    margin-bottom: 5%;
}
.collection-sort{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.products{
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    /* justify-content: space-evenly; */
    align-items: center;
    margin-top: 3%;
}

.product-card{
    display: flex;
    /* padding: 1%; */
    flex-grow: 1;
    flex-basis: 20%;
    /* max-width: 22%; */
    flex-direction: column;
    border: 1px solid rgb(250, 244, 244);
    position: relative;
}

.sale{
    /* width: 30%; */
    background-color: rgb(26, 130, 228);
    position: absolute;
    top:2%;
    left:0%;
    padding:2%;
    color: #fff;
}

.product-image{
    background-color: #fff;  
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.product-info{
    display: flex;
    font-weight: bold;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
    padding-top: 5%;
}
h5, h6{
    padding: 1% 0%;
    flex-grow: 1;
    background-color: #fff;
    text-align: center;
}

h6{
    color: #848484b7;
}


/* .products .product-card:first-child,
.products .product-card:nth-child(2){
    flex: 2 46%;
} */


@media(max-width: 920px){
    .product-card{
        flex: 1 30%;
    }
    .product-filter{
        flex-direction: column;
    }
    .product-filter > h1{
        margin-bottom: 2%;
    }
}

@media(max-width: 750px){
    .product-card{
        flex: 30%;
    }
    /* .products .product-card:first-child{
        flex: 2 100%;
    } */
}

@media(max-width: 450px){
    .product-card{
        flex: 1 46%;
    }
    

    .products .product-card:first-child{
        flex: 2 100%;
    }
}